body {
    font-family: Arial;
  }
  
  #main-heading {
    text-align: center;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 250px 250px 200px;
    column-gap: 20px;
    row-gap: 30px;
    margin-top: 25px;
    align-items: center;
  }
  
  #todo-input, #todo-date {
    font-size: 15px;
    background-color: rgb(208, 229, 231);
    padding: 10px 20px;

  }
  
  .btn-delete {
    background-color: rgb(171, 14, 14);
    color: rgb(242, 237, 237);
    border: none;
    border-radius: 10px;
    padding: 15px 25px;
    cursor: pointer;
  }
  
  .btn-todo {
    background-color: rgb(7, 138, 22);
    color: white;
    border-color:black;
    border-radius: 10px;
    padding: 15px 10px;
    cursor: pointer;
  }